.bar {
  width:30px;
  min-width: 10px;
  display: inline-block;
  clear: none;
  background-color: rgb(139, 212, 214);
  margin-right: 2px;
  color: black;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 2.5px 5px black;
}
#container {
  padding: 20px 20px;
}
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #efefef;
  height: 18px;
  width: 18px;
  margin-top: -7px;
  border-radius: 99px;
  border: grey solid 1px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 6px;
  border: grey solid 1px;
  background: #ccc;
}